<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ddd.all.infrastructure.generated.PmsBrandMapper">
  <resultMap id="BaseResultMap" type="org.ddd.all.infrastructure.generated.PmsBrandDO">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="platform" jdbcType="INTEGER" property="platform" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="first_letter" jdbcType="VARCHAR" property="firstLetter" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="factory_status" jdbcType="INTEGER" property="factoryStatus" />
    <result column="show_status" jdbcType="INTEGER" property="showStatus" />
    <result column="product_count" jdbcType="INTEGER" property="productCount" />
    <result column="product_comment_count" jdbcType="INTEGER" property="productCommentCount" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="big_pic" jdbcType="VARCHAR" property="bigPic" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified" />
    <result column="brand_story" jdbcType="CLOB" property="brandStory" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from pms_brand
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.ddd.all.infrastructure.generated.PmsBrandDO">
    <!--@mbg.generated-->
    insert into pms_brand (id, platform, tenant_id, 
      `name`, first_letter, sort, 
      factory_status, show_status, product_count, 
      product_comment_count, logo, big_pic, 
      is_delete, gmt_create, gmt_modified, 
      brand_story)
    values (#{id,jdbcType=BIGINT}, #{platform,jdbcType=INTEGER}, #{tenantId,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{firstLetter,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{factoryStatus,jdbcType=INTEGER}, #{showStatus,jdbcType=INTEGER}, #{productCount,jdbcType=INTEGER}, 
      #{productCommentCount,jdbcType=INTEGER}, #{logo,jdbcType=VARCHAR}, #{bigPic,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=TINYINT}, #{gmtCreate,jdbcType=BIGINT}, #{gmtModified,jdbcType=BIGINT}, 
      #{brandStory,jdbcType=CLOB})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.ddd.all.infrastructure.generated.PmsBrandDO">
    <!--@mbg.generated-->
    update pms_brand
    set platform = #{platform,jdbcType=INTEGER},
      tenant_id = #{tenantId,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      first_letter = #{firstLetter,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      factory_status = #{factoryStatus,jdbcType=INTEGER},
      show_status = #{showStatus,jdbcType=INTEGER},
      product_count = #{productCount,jdbcType=INTEGER},
      product_comment_count = #{productCommentCount,jdbcType=INTEGER},
      logo = #{logo,jdbcType=VARCHAR},
      big_pic = #{bigPic,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=BIGINT},
      gmt_modified = #{gmtModified,jdbcType=BIGINT},
      brand_story = #{brandStory,jdbcType=CLOB}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select id, platform, tenant_id, `name`, first_letter, sort, factory_status, show_status, 
    product_count, product_comment_count, logo, big_pic, is_delete, gmt_create, gmt_modified, 
    brand_story
    from pms_brand
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select id, platform, tenant_id, `name`, first_letter, sort, factory_status, show_status, 
    product_count, product_comment_count, logo, big_pic, is_delete, gmt_create, gmt_modified, 
    brand_story
    from pms_brand
  </select>
</mapper>